body {
    background: rgb(177, 210, 241);
    color: rgb(59, 59, 59);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(82, 214, 153);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px 60px 80px 40px;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(228, 239, 243);
    display: flex;
    margin-top: 20px;
    border-radius: 20px 60px 80px 40px;
}

.sidebar {
    padding: 0px;
}

.sidebar-img {
    width: 300px;
    height: 220px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 200px 200px 40px 40px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
    margin-top: 20px;
    border-radius: 20px 60px 80px 40px;
}

h2, h3 {
    margin: 0px;
}
/* Portfolio styles */
.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
  
}

#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 20px 60px 80px 40px;
  margin-bottom: 10px;
  
}

#portfolio li:hover {
  background: #eee;
  
}

#portfolio a {
  text-decoration: none;
  color: #454545;
  
}

/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  p,
  li {
    font-size: 24px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }
}